:80 {
    root * /srv
    encode gzip zstd

    # API Proxy
    handle /api/* {
        reverse_proxy sampo_server:3000
    }

    # WebSocket Proxy
    handle /ws/* {
        reverse_proxy sampo_server:3000
    }

    # SPA Fallback
    handle {
        try_files {path} {path}/ /index.html
        file_server
    }
}
